#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 30px;
  display: inline-block;
}

.on {
  background-color: green;
}
button {
  margin: 10px;
}

h1 {
  text-align: center;
  color: coral;
  font-size: 55px;
}

#gameButtons {
  text-align: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: aquamarine;
}
